<p class="font-weight-bold">
    Adjust Coffee Levels
    <br>  
    Please adjust coffee level for tap 
    <br>
    <br>
  </p>
  <p>
    &nbsp;&nbsp;Keg: 
    <select ng-model="selectedName"> <option *ngFor="let keg of kegs" value= {{keg.id}}>
        {{keg.id}}
      </option>
      </select>
    <br>
    &nbsp;&nbsp;New Level: 
    <input ng-model="level">
    <br>
    <br>
    <button routerLink="/admin">Submit </button> &nbsp;&nbsp;
  </p>
  <script>
      var app = angular.module('myApp', []);
      app.controller('myCtrl', function($scope) {
          $scope.names = ["Emil", "Tobias", "Linus"];
      });
      </script>
