<div class="keg-details">
  <p class="name">
    <br>
    Adjust Coffee Levels
    <br>
  </p>
  <p class="brand">
    Please adjust coffee level for tap
    <br>
    <br>
    &nbsp;&nbsp;Keg:
    <select ng-model="selectedName">
      <option *ngFor="let keg of activeKegs" value={{keg.kegId}}>
        {{keg.kegId}}
      </option>
    </select>
    <br>
    &nbsp;&nbsp;New Level:
    <input ng-model="level">
    <br>
    <br>
    <button routerLink="/admin">Submit </button> &nbsp;&nbsp;
  </p>
</div>