<div class="keg-details">
  <div class="name"><br>
    Generate Notification
    <br>
  </div>
  <br>
  <div class="brand">
    Please insert Notification information below
    <br>
    <br>
    &nbsp;&nbsp;Notify:
    <select ng-model="selectedName">
      <option *ngFor="let person of people" value={{person.name}}>
        {{person.name}}
      </option>
    </select>
    <br>
    &nbsp;&nbsp;If Other, Please Specify:
    &nbsp;&nbsp;<input ng-model="level">
    <br>
    &nbsp;&nbsp;Notification:
    <div class="col-md-4">
      <input ng-model="level" type="text" class="form-control"
        placeholder="Tap 1 NomNom by Snowing in Space Coffe Co is kicked.">
    </div>
    <br>
    <button routerLink="/admin">Submit </button> &nbsp;&nbsp;
  </div>
</div>