.gauge-container {
  text-align: center;
  margin-top: 10px;
  .keg-meter {
    margin-bottom: 65px;
    .progress {
      transform: rotate(-90deg);
      transform-origin: middle bottom;
      margin-top: 60px;
      height: 100px;
      width: 120%;
      margin-left: -10%;
      .progress-bar {
        background-color: #3E2723;
      }
    }
  }
  .keg-details {
    .name {
      font-size: 1.2em;
    }
    .brand {
      font-size: .8em;
    }
  }
}