.gauge-container {
  margin-top: 5.5vw;
  text-align: center;
  .keg-meter {
    align-items: center;
    transform: rotate(-90deg);
    .progress {
      height: 5vw;
      .progress-bar {
        background-color: #3E2723;
      }
    }
  }
  .keg-details {
    margin-top: 5vw;
    .name {
      font-size: 1.2em;
    }
    .brand {
      font-size: .8em;
    }
  }
}