.gauge-container {
  margin-top: 9vw;
  text-align: center;
  .keg-meter {
    align-items: center;
    transform: rotate(-90deg);
    .progress {
      height: 6vw;
      width: 130%;
      box-shadow: 0 0.15rem 0.3rem rgba(0,0,0,.3);
      background-color: #EFEBE9;
      .progress-bar {
        background-color: #965F37;
      }
    }
  }
  .keg-details {
    margin-top: 5.5vw;
    .name {
      font-size: 1.2em;
    }
    .brand {
      font-size: .8em;
    }
  }
}