<div class="activity-container">
  <div class="header">
    <h5>Today's Activity</h5>
    <div class="float-right" style="margin-top: -.8em;">
      <b>Caffeine meter:</b>&nbsp;
      <span class="icon" *ngIf="hypeReading <= 24">😴</span>
      <span class="icon" *ngIf="hypeReading > 24 &&  hypeReading <= 64">😑</span>
      <span class="icon" *ngIf="hypeReading > 64 &&  hypeReading <= 128">😁</span>
      <span class="icon" *ngIf="hypeReading > 128">🤯</span>
      <small>({{hypeReading | number: '1.0-2'}}oz.)</small>
    </div>
  </div>
  <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" *ngFor="let event of activity">
    <div class="toast-header">
      <strong class="mr-auto"><i class="fas fa-coffee"></i>&nbsp;&nbsp;Mmmm Coffee</strong>
      <small>{{event.timestamp.$date.$numberLong | date:'medium'}}</small>
    </div>
    <div class="toast-body">
      {{event.user.name}} poured {{event.volume.$numberDouble || event.volume.$numberLong | number: '1.0-2' }}oz of {{event.coffee.name}}
    </div>
  </div>
</div>
